{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
    <p>Plus de <strong>{{ totalTime }} heures</strong> de recette de cuisine !</p><br />

    <ul>
        {% for recipe in recipes %}
        <li>
            <a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.title }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}